

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Roboto-Regular", "Arial", sans-serif;
    src: url(assets\fonts\Roboto\Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Bold", "Arial", sans-serif;
    src: url(assets\fonts\Roboto\Roboto-Bold.ttf);
}


@media screen and (max-width:700px){
    .box {width: 100%;}
}

body {
    font-family: "Roboto-Regular", "Arial", sans-serif;
}

h2 {
    font-family: "Roboto-Bold", "Arial", sans-serif;
}


.nav_bar {
    color: white;
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
    padding-left: 70%;
}

.box {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}


.city {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1%;
}


#eiffel {
    width: 100%;
    position: relative;
}

.paris {
    position: relative;
    padding: 5%;
}

.purple_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 90%;
    background-color: purple;
    width: 70%;
    height: 12%;
    text-decoration: none;
}


#fujiyama {
    width: 100%;
}

.tokyo {
    position: relative;
    padding: 5%;
}

.orange_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 90%;
    background-color: orangered;
    width: 70%;
    height: 12%;
    text-decoration: none;
}


#skyscrapers {
    width: 100%;
}

.new_york {
    position: relative;
    padding: 5%;
}

.blue_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 90%;
    background-color: rgb(50, 125, 175);
    width: 70%;
    height: 12%;
    text-decoration: none;
}


